.enter-comments {
    justify-content: center;
    display: flex;
}

.enter-comments button { 
    border: 1px solid;
    margin: auto 15%; 
    font-size: 17px;
    background-color: black;
    color: antiquewhite;
    padding: 7px;
    cursor: pointer;
}
